{# ********************* #}
{# ***** BLOG VIEW ***** #}
{# ********************* #}


{% extends 'layout.twig' %}

{% block title %}My blog{% endblock %}

{% block description %}Blog & News{% endblock %}


{% block main %}

<main id="blog">

  <!-- Articles List -->
  <ul class="row content-evenly">

    <!-- Articles Foreach -->
    {% for article in allArticles %}
    <li class="col items-center content-between">

      <!-- Article Title with Link -->
      <h2 class="anime-twistL-sm">{{ article.title }}</h2>

      <!-- Article image -->
      <a class="btn warning-light solid-rounded inset-blur anime-twistR-sm" href="{{ url('article!read', {'id': article.id}) }}" title="Read the article">
        <img src="img/blog/{{ article.image }}" alt="{{ article.image }}">
      </a>

      <!-- Article Content -->
      <p class="justify">{{ article.content | slice(0, 150) }}...</p>

      <!-- Article Infos -->
      <p>Posted the {{ date(article.created_date)|date('d M Y') }} at {{ date(article.created_date)|date('H:i') }}</p>

      <!-- readArticle Link -->
      <a class="btn info-outline solid-rounder inset-spread mb-lg" href="{{ url('article!read', {'id': article.id}) }}" title="Read the article">
        Read more... <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      </a>

    </li>
    {% endfor %}

  </ul>
</main>

{% endblock %}
