{# ********************** #}
{# ***** ADMIN VIEW ***** #}
{# ********************** #}


{% extends 'layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}Administration{% endblock %}


{% block main %}

<main class="center">

      <!-- ************ -->
      <!-- User Section -->
      <section>
        <h3>
          <i class="fa fa-users" aria-hidden="true"></i> Users
        </h3>

        <!-- Create user button -->
        <a class="btn valid-outline double-rounder spread" href="{{ url('user!create') }}">
          Create a new user <i class="fa fa-user" aria-hidden="true"></i>
        </a>

        <!-- User table -->
        <table class="cancel-glass ridge-lg inset-blur">

          <!-- Table header -->
          <thead>
            <tr>
              <th>Id / Name</th>
              <th>Photo</th>
              <th>Email / Home</th>
              <th>Creation / Edition</th>
              <th>Update Delete</th>
            </tr>
          </thead>

          <tbody>

            <!-- Loop on all users -->
            {% for user in allUsers %}
            <tr>

              <!-- User name -->
              <td>{{ user.id }} / {{ user.first_name }} {{ user.last_name }}</td>

              <!-- User photo -->
              <td>
                <img class="solid-rounded-sm" src="img/{{ user.image }}" alt="Photo de profil" width="50px">
              </td>

              <!-- User email -->
              <td>{{ user.email }} / {{ user.zipcode }} {{ user.country }}</td>

              <!-- User created date -->
              <td>{{ date(user.created_date)|date('d M Y') }} à {{ date(user.created_date)|date('H:i:s') }} /

                <!-- User update date -->
                {{ date(user.updated_date)|date('d M Y') }} à {{ date(user.updated_date)|date('H:i:s') }}</td>

                <!-- Update user button -->
                <td>
                  <a class="btn info-btn solid-round-sm blur mb-sm" href="{{ url('user!update', {'id': user.id}) }}">
                    <i class="fa fa-pencil-square-o fa-fw fa-lg" aria-hidden="true"></i>
                  </a>

                  <!-- Delete user button -->
                  <a class="btn delete-btn solid-round-sm blur" href="{{ url('user!delete', {'id': user.id}) }}">
                    <i class="fa fa-times-circle-o fa-fw fa-lg" aria-hidden="true"></i>
                  </a>
                </td>

              </tr>
              {% endfor %}

            </tbody>
          </table>
        </section>
    </main>

    {% endblock %}
