{# ****************** #}
{# ***** LAYOUT ***** #}
{# ****************** #}


<!DOCTYPE html>
<html lang="en">


<!-- ***** Head ***** -->
<head>

  <!-- Main Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Main Title -->
  <title>{% block title %}{% endblock %} - {% block author %}Philippe Beck{% endblock %}</title>

  <!-- Favorite URL -->
  <link rel="canonical" href="{% block canonical %}https://philippebeck.net{% endblock %}">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Secondary Meta Data -->
  <meta name="description" content="{{ block('description') }}">
  <meta name="author" content="{{ block('author') }}">
  <meta name="copyright" content="MIT">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">

  <!-- Sam StyleSheet -->
  <link rel="stylesheet" href="../node_modules/sam.scss/dist/sam.min.css">

  <!-- Project StyleSheet -->
  <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>


  <!-- ***** Header ***** -->
  <header>

    <!-- Main Navigation -->
    <nav class="navbar fixed-top primary">

      <!-- Home access -->
      <ul class="brand-nav">
        <li>
          <a href="./" title="Accueil">
            <img src="img/pjs.svg" alt="Pjs Logo" title="home">
          </a>
        </li>
      </ul>

      <!-- Main access -->
      <ul class="main-nav">

        <!-- Blog access -->
        <li>
          <a href="{{ url('article') }}" title="Articles & News">
            <i class="fa fa-rss fa-fw" aria-hidden="true"></i>
            <span>Blog</span>
          </a>
        </li>

        <!-- Pam documentation access -->
        <li>
          <a href="https://philippebeck.net/public/index.php?access=pjs!pam" title="Php Approachable Microframework Documentation">
            <i class="fa fa-universal-access fa-fw" aria-hidden="true"></i>
            <span>Pam</span>
          </a>
        </li>

        <!-- Jim documentation access -->
        <li>
          <a href="https://philippebeck.net/public/index.php?access=pjs!jim" title="JavaScript Interactive Microlibrary Documentation">
            <i class="fa fa-keyboard-o fa-fw" aria-hidden="true"></i>
            <span>Jim</span>
          </a>
        </li>

        <!-- Sam documentation access -->
        <li>
          <a href="https://philippebeck.net/public/index.php?access=pjs!sam" title="Scss Animated Microframework Documentation">
            <i class="fa fa-css3 fa-fw" aria-hidden="true"></i>
            <span>Sam</span>
          </a>
        </li>

      </ul>

      <form role="search">
        <input id="access" type="text" placeholder="Jim" title="Type 'J' to see the commands" autofocus>
        <button id="help-btn" class="btn info-btn solid-round-sm help" type="button" title="See keyboard commands">
          <i class="fa fa-keyboard-o" aria-hidden="true"></i>
        </button>
      </form>

      <!-- User access -->
      <ul class="user-nav">

        <!--  -->
        {% if (isLogged()) %}

        <li>
          <p>Hello {{ userName() }} !</p>
        </li>

        <li>
          <a href="{{ url('user!update', {'id': userId()}) }}" title="Edit my profile">
            <img class="solid-round-sm" src="img/{{ userImage() }}" alt="User Picture">
          </a>
        </li>

        <!-- Logout access -->
        <li>
          <a href="{{ url('user!logout') }}" title="Logout">
            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
          </a>
        </li>

        {% if (userEmail() == adminEmail()) %}

        <!-- Admin access -->
        <li>
          <a href="{{ url('admin') }}" title="Administration">
            <i class="fa fa-unlock-alt fa-fw" aria-hidden="true"></i>
          </a>
        </li>

        {% endif %}

        {% else %}

        <!-- Login access -->
        <li>
          <a href="{{ url('user!login') }}" title="Login">
            <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
          </a>
        </li>

        <!-- Create user access -->
        <li>
          <a href="{{ url('user!create') }}" title="New user">
            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
          </a>
        </li>

        {% endif %}
      </ul>
    </nav>

    <!-- Alert Message -->
    {% if (hasAlert()) %}

    <p id="alert" class="{{ readType() }} solid p-sm center">{{ readMessage() }}</p>

    {% endif %}

    <!-- Main Title -->
    <h1 class="main-title secondary">{{ block('title') }}</h1>

    <ul id="jim-help" class="double blur-br-sm anime-grow-sm none">
      <li>A => ?</li>
      <li>B => ?</li>
      <li>C => CodePen</li>
      <li>D => ?</li>
      <li>E => Enter Login</li>
      <li>F => Free Code Camp</li>
      <li>G => GitHub</li>
      <li>H => Home</li>
      <li>I => Instructions</li>
      <li>J => Jim</li>
      <li>K => Stack Overflow</li>
      <li>L => LinkedIn</li>
      <li>M => ?</li>
      <li>N => Npm</li>
      <li>O => OpenClassrooms</li>
      <li>P => Pam</li>
      <li>Q => Quit Logout</li>
      <li>R => ?</li>
      <li>S => Sam</li>
      <li>T => Twitter</li>
      <li>U => ?</li>
      <li>V => Pjs</li>
      <li>W => 3W Academy</li>
      <li>X => License</li>
      <li>Y => YouTube</li>
      <li>Z => Message</li>
    </ul>

  </header>


  <!-- ***** Main ***** -->
  {% block main %}{% endblock %}


  <!-- ***** Footer ***** -->

  <footer class="info-glass center">

    <nav class="row items-center content-center gm-sm crosshair">

      <!-- Mailto link icon -->
      <a class="btn solid-round info-outline inset-blur" href="mailto:contact@philippebeck.net" rel="noopener" rel="noreferrer" target="_blank" title="Contact">
        <i class="fa fa-envelope fa-fw fa-lg" aria-hidden="true"></i>
      </a>

      <!-- GitHub link icon -->
      <a class="btn solid-round github-outline inset-blur" href="https://github.com/philippebeck" rel="noopener" rel="noreferrer" target="_blank" title="GitHub">
        <i class="fa fa-github fa-fw fa-lg" aria-hidden="true"></i>
      </a>

      <!-- Stack OverFlow link icon -->
      <a class="btn solid-round stackoverflow-outline inset-blur" href="http://stackoverflow.com/story/philippebeck" rel="noopener" rel="noreferrer" target="_blank" title="Stack Overflow">
        <i class="fa fa-stack-overflow fa-fw fa-lg" aria-hidden="true"></i>
      </a>

      <!-- LinkedIn link icon -->
      <a class="btn solid-round linkedin-outline inset-blur" href="https://www.linkedin.com/in/philippebeck" rel="noopener" rel="noreferrer" target="_blank" title="LinkedIn">
        <i class="fa fa-linkedin fa-fw fa-lg" aria-hidden="true"></i>
      </a>

      <!-- Twitter link icon -->
      <a class="btn solid-round twitter-outline inset-blur" href="https://twitter.com/philippepjbeck" rel="noopener" rel="noreferrer" target="_blank" title="Twitter">
        <i class="fa fa-twitter fa-fw fa-lg" aria-hidden="true"></i>
      </a>

      <!-- Free Code Camp link icon -->
      <a class="btn solid-round freecodecamp-outline inset-blur" href="https://www.freecodecamp.com/philippebeck" rel="noopener" rel="noreferrer" target="_blank" title="Free Code Camp">
        <i class="fa fa-free-code-camp fa-fw fa-lg" aria-hidden="true"></i>
      </a>

      <!-- CodePen link icon -->
      <a class="btn solid-round default-outline inset-blur" href="https://codepen.io/philippebeck" rel="noopener" rel="noreferrer" target="_blank" title="CodePen">
        <i class="fa fa-codepen fa-fw fa-lg" aria-hidden="true"></i>
      </a>

      <!-- PayPal link icon -->
      <a class="btn solid-round info-outline inset-blur" href="https://www.paypal.me/philippepjbeck" rel="noopener" rel="noreferrer" target="_blank" title="Donation">
        <i class="fa fa-paypal fa-fw fa-lg" aria-hidden="true"></i>
      </a>
    </nav>

    <!-- License Link -->
    <a class="license primary-btn" href="https://github.com/philippebeck/pjs/blob/master/LICENSE" rel="noopener" rel="noreferrer" target="_blank" title="License">MIT &copy; 2018 Philippe Beck</a>


  </footer>


  <!-- Loads variables for Jim -->
  <script src="js/datas.js"></script>

  <!-- Loads Jim scripts -->
  <script src="../node_modules/jim-js/jim.js"></script>

  {# Adds specifics scripts to pages here #}
  {% block script %}{% endblock %}

  <!-- Loads Project Scripts -->
  <script src="js/script.js"></script>

</body>
</html>
